
<html lang="en">
  <head>
    <%- include ('./partials/head') %>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
  </head>
  <body>
    <header>
      <%- include ('./partials/header') %>
    </header>
  
    <main>
      <div class="container">
        <form action="/notes/<%= note._id %>?_method=PUT" method="POST" id="editForm" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-10">
              <input name="title" type="text" class="form-control" id="formTitle" value="<%= note.title %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <textarea name="content" id="noteBody" cols="80" rows="10" ><%= note.content %></textarea>
          <div class="form-group button">
            <input type="submit" value="Save Note">
          </div>
            </div>
          </div>
        </form>
      </div>
    </main>

    
  <footer>
    <%- include ('./partials/footer') %>
  </footer>
</body>
</body>
</html>


