<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <%- include ('./partials/header') %>
  </header>

  <main>

    <div class="container-fluid">


      <!-- beginning card-->
      <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div id="card" class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                <div class="content">
                    <h4 class="title" id="fullTitle"><%= note.title %></h4>
                    <p class="description" id="fullContent"> <%= note.content %> </p>
                    <a href="/notes/edit/<%= note._id %>" class="card-link">Edit</a>
                    <a href="/notes/delete/<%= note._id %>" class="card-link">Delete</a>
                </div>
            </div>
          </div>

      </div>
      <!-- end card-->


  </main>

  <footer>
    <%- include ('./partials/footer') %>
  </footer>
</body>
</html>